.vc-auth-login1 {
	/*
	& .fade-enter-active, & .fade-leave-active {
		transition: opacity 2000ms;
	}
	& .fade-enter, & .fade-leave-to {
		opacity: 0;
	}
	height: auto;
	transition: height 2s;
*/

	& > .vc-modal {
		width: 360px;
		max-width: 100%; 
	}
	&__logo1 {
		position: relative;
		display: block;
		height: 120px;
		margin: 20px auto;
	}

	&__loading1 {
		display: block;
		margin: 0 auto;
		height: 40px;
	}
	&__esqueci1 {
		display: block;
		text-align: center;
		padding: 15px;

		&-link1 {
			display: inline-block;
			vertical-align: middle;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: rgba(0,0,0,0.75);
			text-decoration: none;

			&:hover {
				color: #2980b9;
				text-decoration: underline;
			}
		}
	}
}
